Package: indexerD
Version: 1.0
Architecture: armv5tel
Maintainer: anatel.gov.br <8a298574.anatel.gov.br@amer.teams.ms>
Description: Perform houly catalogging of new files in preparation for centralized backup pooling scripts.

